<ion-view cache-view="false" view-title="Event">
  <ion-content class="edit-event-screen has-footer-button">
    <div class="list edit-event-list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" data-ng-model="event.name" placeholder="Best birthday party ever">
      </label>

      <div class="item item-input item-event-datetime item-stacked-label">
        <span class="input-label">Event Start</span>
        <div class="row">
          <div class="col col-60 ">
            <input type="date" data-ng-model="event.start.date">
          </div>
          <div class="col col-40 ">
            <input type="time" data-ng-model="event.start.time">
          </div>
        </div>
      </div>
<!--       <div class="item item-input item-event-datetime item-stacked-label">
        <span class="input-label">Event End</span>
        <div class="row">
          <div class="col col-40">
            <input type="time" data-ng-model="event.end.time">
          </div>
        </div>
      </div> -->
      <label class="item item-input item-stacked-label">
        <span class="input-label">Location</span>
        <input type="text" data-ng-model="event.location" placeholder="123 Fake St">
      </label>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="event.private">
        </label>
        Private Event
      </li>
      <li class="item item-input item-stacked-label">
        <span class="input-label">Interests</span>
        <input class="search-box" type="text" data-ng-model="tags.search.name" placeholder="search..."/>
      </li>

      <div class="row tags-wrap" data-ng-repeat="row in processedTags">
        <div class="col col-{{ tag.column_size }}" data-ng-repeat="tag in row | tagColumns">
          <button class="button button-block button-assertive" data-ng-click="onTagSelect(tag.id)" data-ng-class="{unselected:(tags.selected.indexOf(tag.id) == -1)}">
            {{ tag.name }}
          </button>
        </div>
      </div>

    </div>
  </ion-content>
  <div class="footer-button-wrap">
    <button class="button button-block button-assertive footer-button" data-ng-click="onSubmit()">
      Submit
    </button>
  </div>
</ion-view>
