<ion-view view-title="Invite Contacts">
  <ion-content class="invite-contacts-screen has-footer-button">
    <pre>
      {{ contacts.all }}
    </pre>
    <div class="list contacts-list user-list">
      <a class="item user" href="#/app/users/{{contact.id}}" ng-if="contacts.length > 0" data-ng-repeat="contact in contacts" ">
		<div class="options">
          <i class="fa fa-check-square-o pull-right icon-checked" data-ng-if="(selectedContactIds.indexOf(contact.id) > -1)"></i>
          <i class="fa fa-square-o pull-right icon-unchecked" data-ng-if="(selectedContactIds.indexOf(contact.id) == -1)"></i>
        </div>
        <h2 class="name">{{ contact.username }} <i data-ng-if="contact.friend" class="fa fa-user friend"></i></h2>
        <p class="name">{{ contact.name }}</p>
		<div class="button-right" ng-click="addFriend($event,contact.id)" data-ng-if="!contact.friend">
			<button class="button-small icon ion-plus-round"></button>
		</div>
      </a>
    </div>
  </ion-content>
  <div class="footer-button-wrap">
    <button ng-if="contacts.length > 0" class="button button-block button-assertive footer-button" data-ng-click="onInvite()">
        Invite Contacts
    </button>
  </div>
</ion-view>
