<ion-view view-title="Matches">
  <ion-content class="Matches-screen">
    <div class="list matches-list">
      <a class="item item-avatar" href="#" data-ng-repeat="match in matches" data-ng-click="onMatchSelect(match.id)">
        <img data-ng-src="{{ match.photo }}">
        <div class="pull-right">
          <h2>{{ match.matched_for.time | date:'yyyy-MM-ddTHH:mm:ssZ' | date:'shortDate' }}</h2>
          <i class="fa fa-check-square-o pull-right" data-ng-if="(selectedMatchIds.indexOf(match.id) > -1)"></i>
          <i class="fa fa-square-o pull-right" data-ng-if="(selectedMatchIds.indexOf(match.id) == -1)"></i>
        </div>
        <h2>{{ match.name }} <i class="fa fa-user" data-ng-if="match.friend"></i></h2>
        <p>Matched for {{ match.matched_for.tags | namesFilter }}</p>
      </a>
    </div>
    <button class="button button-block button-calm" data-ng-click="onInvite()">
        Invite Users
    </button>
  </ion-content>
</ion-view>
