<ion-view view-title="Search">
  <ion-content class="tags-search-screen">
    <h1 class="search-title">What do you want to do?</h1>
      <!--<input data-ng-model="search" class="search-box" />-->
      <tagger class="search-box" ng-model="searchTags" options="allTags" data-disable-new data-limit="{{maxTags}}" display-fun="showTagName" create-fun="createTagName"></tagger>
      <button class="button button-block button-calm" data-ng-click="submitTags()">
        <i class="fa fa-search"></i>
      </button>
      <div class="row" data-ng-repeat="tagGroup in suggestedTags">
          <button class="button button-block button-calm col col-{{ tag.column_size }}" data-ng-repeat="tag in tagGroup | tagColumns" data-ng-click="addTag(tag.id)">
            {{ tag.name }}
          </button>
      </div>

  </ion-content>
</ion-view>
