<ion-view view-title="Search Tags">
  <ion-content class="tags-search-screen has-footer-button">
    <h1 class="search-title">What do you want to do?</h1>
    <input class="search-box" type="text" data-ng-model="tags.search.name" placeholder="search..."/>
    <div class="row tags-wrap" data-ng-repeat="row in processedTags">
      <div class="col col-{{ tag.column_size }}" data-ng-repeat="tag in row | tagColumns">
        <button class="button button-block button-assertive" data-ng-click="onTagSelect(tag.id)" data-ng-class="{unselected:(tags.selected.indexOf(tag.id) == -1)}">
          {{ tag.name }}
        </button>
      </div>
    </div>
  </ion-content>
  <div class="footer-button-wrap">
    <label class="item item-input item-select">
      <div class="input-label">
        Search for the next
      </div>
      <select data-ng-model="tags.search.duration">
        <option data-ng-repeat="duration in tags.durations" value="{{ duration.seconds }}">
          {{ duration.name }}
        </option>
      </select>
    </label>
    <button class="button button-block button-assertive footer-button" data-ng-click="onSearch()">
        Search
    </button>
  </div>
</ion-view>
