/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// HELPER START
.hidden {
  display: none;
  visibility: hidden;
}
.pull-right {
  float: right;
}
.pull-left {
  float: right;
}
// HELPER END

// TAGS RESULTS SCREEN
.tags-results-screen {
  .search-results-list {

  }
  .search-filters-list {

  }
  .swiped {
    background-color: #E5FFE5;
  }
}
// TAGS RESULTS SCREEN END

// TAGS SEARCH SCREEN
.tags-search-screen {
  .search-title {
    color: $calm;
    text-align: center;
    font-size:2em;
    margin: 2em 0 1em;
  }
  .search-box {
    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 2px 0px; 
    border-color: $calm;
    width: 90%;
    margin-left: 5%;
    padding-left: 0.5em;
    color: #666;
    //font-size: 3em;
    margin-bottom: 1em;
  }
}
// TAGS SEARCH SCREEN END

// MATCHES SCREEN AND INVITE SCREEN START
.matches-screen {
  
}
// MATCHES SCREEN AND INVITE SCREEN END

// START ANGULAR TAGGER
.angular-tagger {
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 2px;
  width: 100%;
}
.angular-tagger__holder {
  display: inline-block;
}
.angular-tagger__wrapper {
  vertical-align: middle;
}
.angular-tagger__tag {
  background: $calm;
  padding: 5px;
  margin: 1px;
  display: inline-block;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.angular-tagger-tag__delete {
  cursor: pointer;
}
.angular-tagger__input {
  border: none;
  background: none;
  outline: none;
  width: auto;
  min-width: 1px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 1px 0 1px 3px;
  vertical-align: middle;
}
.angular-tagger__input:empty:not(:focus):before {
  content: attr(placeholder);
}
.angular-tagger__hook {
  width: 100%;
  clear: both;
  height: 0;
  position: relative;
}
.angular-tagger__matching {
  position: absolute;
  z-index: 10;
  min-width: 100px;
  width: 100%;
  top: 0px;
  left: -1;
  border: 1px solid #eee;
  padding: 0;
  margin: 0;
  background: #fff;
}
.angular-tagger__matching-item {
  list-style: none;
  padding: 3px 5px;
  background: #fff;
}
.angular-tagger__matching-item:hover {
  cursor: pointer;
}
.angular-tagger__matching-item--selected {
  background: $calm;
  color: #fff;
}
.angular-tagger--single .angular-tagger__tag {
  display: block;
}
.angular-tagger--single .angular-tagger__holder {
  display: block;
}
.angular-tagger--single .angular-tagger-tag__delete {
  float: right;
}
// END ANGULAR TAGGER
// START MULTIRANGE SLIDER
$height: 7px;
slider, [slider] {
  display: inline-block;
  position: relative;
  height: $height;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;

  div {
    white-space: nowrap;
    position: absolute;

    &.bar {
      width: 100%;
      height: 100%;
      border-radius: $height;
      background: #444;
      overflow: hidden;

      .selection {
        width: 0%;
        height: 100%;
        background: #13b6ff;
      }
    }

    &.handle {
      cursor: pointer;
      width: 20px;
      height: 20px;
      top: -8px;
      background-color: #fff;
      border: 1px solid #000;
      z-index: 2;
      border-radius: 100%;

      &:after {
        content: '';
        background-color: #777;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 100%;

        &:hover {
          background-color: #000;
        }
      }

      &.active:after {
        background-color: #f00;
      }
    }

    &.bubble {
      display: none;
      cursor: default;
      top: -22px;
      padding: 1px 3px 1px 3px;
      font-size: 0.7em;
      font-family: sans-serif;

      &.active {
        display: inline-block;
      }

      &.limit {
        color: #777;
      }
    }
  }
}

// END MULTIRANGE SLIDER